h1{
    color: red;
    background-color: blue;
}
dt{
    color: grey;
    background-color: white;
}
dd{
    color: brown;
    background-color: white;
}
textarea{
    background-color: green;
}
label{
    color: blue;
    background-color: brown;
}